body { 
    overflow: hidden; 
} 

.section { 
    z-index: 3;
    opacity: 0; 
}

.status { 
    .has-icon, &-text { 
        opacity: 0; 
    } 

    .has-icon { 
        transform: scale(5); 
    } 

    &-text { 
        transform: scale(2); 
    }
} 

.icon-question-holder { 
    &-gray { 
        overflow: hidden; 

        .icon-question { 
            &-char, &-box { 
                transform: scale(0.5); 
            } 
        } 
    } 

    &-color {
        opacity: 0; 
    }
}

// .icon-question-holder-color {
//     // height: 0; overflow: hidden; 
//     bottom: 0; top: 100%; 
// }

.section, 
.icon-question-holder-gray, 
.icon-question-holder-color, 
.icon-question-holder-gray .icon-question-char, .icon-question-holder-gray .icon-question-box, 
.has-icon, .status-text {
    animation-fill-mode: forwards;
} 

.section {
    animation-name: display; animation-duration: 0.4s; animation-delay: 2.8s; 
}

.icon-question-holder { 
    &-gray { 
        animation-name: close; animation-duration: 0.4s; animation-delay: 2.5s; 

        .icon-question { 
            &-char, &-box { 
                animation-name: scale-pop-ease; animation-duration: 2.4s; 
            } 

            &-char { 
                animation-delay: 0.35s; 
            } 

            &-box { 
                animation-delay: 0.2s; 
            } 

        } 
    } 

    &-color {
        animation-name: display; animation-duration: 0.00001s; animation-delay: 2.4s; 
    }
}

.status { 
    --scale-factor: 1; 

    .has-icon, &-text {
        animation-name: display, scale; animation-duration: 0.2s;  
    } 

    .has-icon { 
        animation-delay: 2.8s;
    } 

    &-text { 
        animation-delay: 2.9s; 
    }
}

@keyframes display {
    100% {
        opacity: 1; 
    }
}

@keyframes slide { 
    100% {
        margin-top: calc(-1 * var(--slide-distance)); 
    }
    
} 

@keyframes translate { 
    100% {
        transform: translateY(0); 
    } 
} 

@keyframes pulsate {
    50% {
        transform: scale(var(--scale-factor)); 
    } 

    100% {
        transform: scale(1); 
    }
} 

@keyframes scale {
    100% {
        transform: scale(var(--scale-factor)); 
    }
}

@keyframes grow {
    100% {
        transform: scale(var(--scale-factor)); 
    }
} 

@keyframes pop-out {
    100% {
        transform: scale(1); 
    }
}

@keyframes scale-reset {
    100% {
        transform: scale(1); 
    }
} 

@keyframes scale-pop-ease { 
    15% {
        transform: scale(0.9); 
    } 

    100% {
        transform: scale(1);
    } 
    
} 

@keyframes open {
    100% {
        height: 100%; 
    }
} 

@keyframes open-bottom {
    100% {
        top: 0; 
    }
} 

@keyframes close {
    100% {
        height: 0; 
    }
}
