@font-face {
    font-family: $icon-font-family;
    src: url(#{$icon-font-url}); 
} 

.section-positive + .icon-question-holder {
    color: $positive-color; 
} 

.section-negative + .icon-question-holder {
    color: $negative-color; 
} 
