$text-font-size: 1.4em; 
$text-element-width: 6em; 
$text-element-height: $text-element-width; 
$text-border-width: 3px; 
$text-border-style: dashed; 
$text-border-radius: 50%; 
$text-color: #CCC; 
$laluger-free-color: green; 
$laluger-full-color: red; 
$section-height: 100vh; 
