$positive-color: green; 
$negative-color: red; 
$text-color: #CCC; 

$text-font-size: 15px; 

$section-height: 100vh; 

$status-holder-width: 50%; 

$status-text-padding-x: 1.5em; 
$status-text-padding-y: $status-text-padding-x; 
// $status-text-holder-width: 50%; 
// $status-text-holder-height: auto; 
$status-text-border-width: 1px; 
$status-text-border-style: dashed; 
$status-text-border-radius: 10px; 
$status-text-font-family: "Comfortaa"; 
$status-text-font-size: 2.8em; 

$icon-width: 1em; 
$icon-height: $icon-width; 
$icon-distance-y: 1em; 
$icon-font-family: Ionicons; 
$icon-font-url: "../font/ionicons.ttf"; 
$icon-font-size: 4em; 
$icon-positive-code: "\f3fd"; 
$icon-negative-code: "\f404"; 
$icon-question-code: "\f143"; 
$icon-color: $text-color; 
