@font-face {
    font-family: $icon-font-family;
    src: url(#{$icon-font-url}); 
} 

.has-icon {
    display: flex; justify-content: center; align-items: center; 

    color: $icon-color; 
} 

.section-positive + .icon-question-holder {
    color: $positive-color; 
} 

.section-negative + .icon-question-holder {
    color: $negative-color; 
} 

.has-icon::before { 
    display: flex; justify-content: center; align-items: center;  
    @extend %center-block; 
    width: $icon-width; height: $icon-height; 
    // border: 1px solid; 
    font-family: $icon-font-family; 
    font-size: $icon-font-size; 
} 

.icon-positive::before { 
    content: $icon-positive-code; 
} 

.icon-negative::before { 
    content: $icon-negative-code; 
    font-size: scale-value($icon-font-size, 0.8); 
} 
