.section { 
    @extend .center; 
    height: $section-height; 
    color: $text-color; 
    font-size: $text-font-size; 
} 

.hidden {
    position: absolute; 
    left: -10000px; top: -10000px; 
    width: 0; height: 0; 
    overflow: hidden; 
}

.section-laluger-free {
    background-color: $laluger-free-color;
} 

.section-laluger-full {
    background-color: $laluger-full-color; 
} 

.text {
    @extend %center; 
    width: $text-element-width; height: $text-element-height; 
    border-width: $text-border-width; border-style: $text-border-style; 
    border-radius: $text-border-radius; 
}
