html { 
    height: 100%; 
} 

body {
    min-height: 100%; 
    background-color: aqua; 
} 

.section {
    width: 100%; height: 100%; 
}

.section-laluger-free {
    background-color: green;
} 

.section-laluger-full {
    background-color: red; 
} 
